* 
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Default changes */

/* Layout Styles */
.center
{
    text-align: center;
}

.l-box 
{
    padding: 1em;
}

/* Pages */
.resume
{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    z-index: 0;
}

/* Pure.css changes */
.pure-img-responsive 
{
    max-width: 100%;
    height: auto;
}

.frontpage
{
    position: fixed;
    overflow: hidden;
    background-color: white;
    height: 100vh;
    width: 100%;
}

.box-left
{
    width: 50%;
    display: block;
    height: 95%;
    background-color: white;
    z-index: 1;
    position: absolute;
    overflow: hidden;
}

.box-right
{
    left: 50%;
    width: 50%;
    display: block;
    height: 95%;
    background-color: white;
    z-index: 1;
    position: absolute;
    overflow: hidden;
}

.frontpage::before
{
    opacity: 0.75;
    /* animation: bgTransitionIn 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards; */
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 95%;
    z-index: 0;
    background-image: url("/static/images/seattle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    border-top: 10px solid white;
    border-left: 10px solid white;
    border-right: 10px solid white;
    overflow: hidden;
}

.elements
{
    position: relative;
}

.about
{
    opacity: 0;
    animation: textTransitionIn 1s;
    animation-delay: 1.15s;
    animation-fill-mode: forwards;
    padding: 55px;
    color: rgb(36, 55, 138);
    font-family: 'Tahoma', sans-serif;
    letter-spacing: -1px;
    font-size: 2.5vw;
    text-align: center;
}

.name 
{
    opacity: 0;
    animation: textTransitionIn 1s;
    animation-delay: 0.9s;
    animation-fill-mode: forwards;
    padding: 50px;
    color: rgb(36, 55, 138);
    font-family: 'Tahoma', sans-serif;
    letter-spacing: -1px;
    font-size: 3.0vw;
    font-weight: bold;
    text-align: center;
}

.profilepic
{
    opacity: 0;
    top: 3.5vh;
    left: 16.4vw;
    transition: opacity 1s, transform 1s;
    transition-delay: 1.3s;
    width: 35%;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    border: 7px solid rgb(255, 255, 255);
    position: absolute;
    overflow: hidden;
    box-shadow: 0px 0px 5px #fff;
}

.aboutmetext
{
    opacity: 0;
    font-family: 'Courier New', monospace;
    box-sizing: border-box;
    display: block;
    border: 5px solid rgba(54, 30, 160, 0.5);
    border-radius: 20px;
    width: 30vw;
    height: auto;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.253);
    font-weight: bold;
    z-index: 5;
    color:rgba(52, 34, 151, 0.883);
    padding: 15px;
    transition: all 1s;
    right: 3vw;
}



body.loaded .profilepic
{
    opacity: 1;
    transform: translateY(10px);
}

.animator
{
    width: 48vw;
    height: 65vh;
    margin-top: -5px;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    transition: all 1s;
    /* border: 5px solid rgba(54, 30, 160, 0.5); */
}

.resize
{
    transition: all 1s;
}

.moveleft
{
    transition: all 1s;
}

.doabout
{
    opacity: 0.9;
    transition: all 1s;
    transition-delay: 0.6s;
}

.dosize
{
    transform: scale(0.5);
}

.domove
{
    transform: translateX(-67%);

}

.content-wrapper 
{
    position: absolute;
    top: 94%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

.exp-wrapper
{
    position: absolute;
    width: 100%;
    background: white;
    height: 847.02px;
}

.exp-content
{
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    z-index: 1;
}

.exp-content-head
{   
    font-weight: 400;
    font-size: x-large;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: inline;
}

.exp-content-date
{
    display: inline;
    float: right;
    font-style: italic;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.exp-content-subhead
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.exp-content-description
{
    box-sizing: border-box;
    display: block;
    border: 5px solid black;
    margin-bottom: 2em;
}

.mfg
{
    background-color: rgba(23, 155, 195, 0.5);
    width: 100%;
}

.mfghidden
{
    display: none;
}

.dgn
{
    background-color: rgba(23, 195, 143, 0.5);
    width: 100%;
}

.dgnhidden
{
    display: none;
}

.rsch
{
    background-color: rgba(195, 178, 23, 0.5);
    width: 100%;
}

.rschhidden
{
    display: none;
}

ul.s
{
    list-style-type: square;
}

.videos-wrapper
{
    padding: 0.5em;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.scale-horiz
{
    transform: scaleX(1);
    transition: transform 0.75s;
}

.sdvideo
{    
    box-shadow: 0px 0px 7px rgb(0, 0, 0);
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
}

.sdvideo:focus 
{
    outline: none;
}

.videos-header
{
    font-weight: bold;
    padding-bottom: 1em;
}

.center-videos
{
    text-align: center;
}

.leftbox
{
    box-sizing: border-box;
    border: 3px solid rgb(49, 49, 49);
    box-shadow: 0px 0px 7px rgb(0, 0, 0);
    background-image: linear-gradient(to top, #cfd9dfb7 0%, #e2ebf0bb 100%);
    border-radius: 25px;
    margin-right:-10px;
    padding: 1em;
    height: 500px;
}

.middlebox
{
    box-sizing: border-box;
    border-bottom: 3px solid rgb(49, 49, 49);
    border-top: 3px solid rgb(49, 49, 49);
    border-right: 3px solid rgb(49, 49, 49);
    border-left: 3px solid rgb(49, 49, 49);
    margin-left: 15px;
    margin-right: -10px;
    border-radius: 25px;
    padding: 1em;
    box-shadow: 0px 0px 7px rgb(0, 0, 0);
    background-image: linear-gradient(to top, #cfd9dfb7 0%, #e2ebf0bb 100%);
}

.rightbox
{
    box-sizing: border-box;
    display: inline block;
    border: 3px solid rgb(49, 49, 49);
    margin-left: 15px;
    width: 455px;
    border-radius: 25px;
    padding: 1em;
    box-shadow: 0px 0px 7px rgb(0, 0, 0);
    background-image: linear-gradient(to top, #cfd9dfb7 0%, #e2ebf0bb 100%);
}

.content
{
    padding: -0.5em 1em 3em;
    padding-bottom: 2em;
}

.content-head 
{
    font-weight: 400;
    padding: 15px;
    display: inline-block;
    border: 3.5px solid black;
    font-size: x-large;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.content-subhead
{
    color: #1f8dd6;
}

#contactbutton
{
    display: inline-block;
    text-decoration: underline;
    transition: transform 1s;
}

#contactbutton:hover
{
    cursor: pointer;
}

#contactelement
{
    transition: transform 1s;
}

.movecontact
{
    transform: translateY(-20vh);
}

.movecontactback
{
    transform: translateY(0);
    
}

.movecontactback .contacttext
{
    opacity: 1;
}

.socialbuttons
{
    z-index: -5;
    position: absolute;
    opacity: 0;
    transition: opacity 0.75s;
    top: 5.5em;
    text-align: center;
}

.movecontact .contacttext
{
    opacity: 0;
}

.addbuttons
{
    transition: all 1s;
    position: absolute;
    transition: opacity 1s;
    transition-delay: 0.5s;
    opacity: 1;
    z-index: 5;
    
}

.content-subhead i 
{
    margin-right: 7px;
}

.linkstyle
{
    color: #1f8dd6;
    background-color: transparent;
    text-decoration: underline;
}

.contacttext
{
    opacity: 1;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    color: black;
    font-size: initial;
    font-weight: initial;
    transition: all 1s;
}

hr.divider 
{
    opacity: 0.5;
    animation: dividerTransitionIn 0.75s;
    animation-fill-mode: forwards;
    border-left: 3px solid rgb(80, 87, 180);
    height: 55%;
    position: fixed;
    left: 49.7%;
    top: 5vh;
    border-radius: 5px;
    z-index: 2;
}

.resumebutton
{
    opacity: 1;
    position: fixed;
    top: 50px;
    left: 50px;
    font-size: 115%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    z-index: 1;
    border: 2px solid black;
    transition: opacity 1s;
}

.resumebutton:hover
{
    background-color: rgb(224, 224, 224);
}

.delay
{
    animation-delay: 1s;
}

.footer
{
    z-index: 5;
    display: block;
    bottom: 0;
    width: 100%;
    height: 6vh;
    background-color:rgba(0, 0, 0, 0.78);
    text-align: center;
    padding: 1.5vh;
}

.footertext
{
    z-index: 6;
    color:rgba(255, 255, 255, 0.746);
}

/* Social Media Buttons */
.button-social-outer
{
    border-radius: 15px;
    font-size: 125%;
    opacity: 0.75;
}

.button-social-inner
{
    font-size: 250%;
}

.container
{
    position: relative;
}

.soundcloud
{
    color: white;
    display: block;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 130%;
}

/* Animations */
@keyframes textTransitionIn
{
    from
    {
        opacity: 0;
        transform: translateY(-10px);
    }

    to
    {
        opacity: 0.8;
        transform: translateY(0);
    }
}

@keyframes imgTransitionIn
{
    from
    {
        opacity: 0;
        transform: translateY(-10px);
    }

    to
    {
        opacity: 0.999;
        transform: translateY(0);
    }
}

@keyframes dividerTransitionIn
{
    from 
    {
        transform: scale(0);
    }
    to 
    {
        transform: scale(1);
    }
}

@keyframes bgTransitionIn
{
    from 
    {
        opacity: 0;
    }
    to 
    {
        opacity: 0.75;
    }
}

@media (min-width: 48em)
{
    body
    {
        font-size: 16px;
    }

    .splash
    {
        width: 50%;
        height: 50%;
    }

    .l-box-lrg
    {
        border: none;
    }

    .aboutmetext
    {
        font-size: calc(1rem + ((1vw - .48rem) * 1.389));
    }
}
