<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Experience/Projects</title>
  </head>
  <body>
    <div class="exp-wrapper">
      <div class="mfg" style="display: none;">
        <div class="exp-content">
          <div class="exp-content-head">Manufacturing Engineer Intern</div>
          <div class="exp-content-date">May 2019 - Aug 2019</div>
          <div class="exp-content-subhead">Kenworth Truck Company - Kirkland, WA</div>
          <div class="exp-content-description">
            <ul class="s">
              <li>Lead a wooden assembly fixtures project to aid in the production of a prototype project, allowing production to begin ahead of schedule by 3 months.</li>
              <li>Created a Java "greedy"-like algorithm to optimize lumber cut sizes for assembly fixtures project, cutting down the cost of lumber by around 15% and saving crucial time to deliver the bill of materials on a tight deadline.</li>
              <li>Checked, validated, and routed tooling authorizations for tooling purchases upwards of $1,000,000 for various company projects.</li>
              <li>Completed a labor analysis project between an in-progress product and an existing company product and provided design and process recommendations that would cut down factory labor times by nearly a third, allowing at least one more $150,000+ product to be produced per day.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="dgn" style="display: none;">
        <div class="exp-content">
          <div class="exp-content-head">Design Engineer Intern</div>
          <div class="exp-content-date">June 2018 - Aug 2018</div>
          <div class="exp-content-subhead">Kenworth Truck Company - Kirkland, WA</div>
          <div class="exp-content-description">
            <ul class="s">
              <li>Optimized a common workflow bottleneck for multiple teams by automating the pulling of data from a Microsoft access SQL database to Microsoft Excel using custom Excel macros by learning visual basic coding, saving teams around 15-20 minutes of valuable time every time this process was carried out.</li>
              <li>Used SQL to perform queries and produce analytics on a large Microsoft Access SQL database to gain valuable insight into common warranty issues for company products.</li>
              <li>Designed, validated, tested, and manufactured a new part that solved a problem of a very high frequency failing part on a specific product. The part was designed in such a way that it could be used as an "in-field" fix for current customers, and would be used as an official part on future products, saving the company $10,000 per failure in the long term and providing customers with a robust short term solution.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="rsch" style="display: none;">
        <div class="exp-content">
          <div class="exp-content-head">Undergraduate Research Assistant</div>
          <div class="exp-content-date">May 2017 - Dec 2019</div>
          <div class="exp-content-subhead">University of Central Florida - Orlando, FL</div>
          <div class="exp-content-description">
            <ul class="s">
              <li>Used MATLAB coding to automate the calculation of material properties given stress/strain test data, and to visualize this data in a stress-strain curve.</li>
              <li>3D CAD Design and 2D drawing creation of material test coupons.</li>
              <li>FORTRAN programming to add user-programmable features (UPFS) to ANSYS simulation software in order to meet project requirements that were not readily available in the software.</li>
              <li>Finite-element analysis simulations using ANSYS on turbine blade models to find the most optimal material to be used for a client's turbine blades.</li>
              <li>Presented research findings in weekly meetings to stakeholders for multiple projects.</li>
              <li>Point of contact software specialist for MATLAB, ANSYS, and SolidWorks for all research team members.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>